/* stylelint-disable */
.terminal {
  background-image: url("../images/track.jpg");
  background-image: image-set("../images/track.avif" type("image/avif"), "../images/track.webp" type("image/webp"), "../images/track.jpg" type("image/jpg"));
  background-repeat: no-repeat;
  background-size: contain;
  padding: 50px 0 100px 0;
}
@media screen and (max-width: 840px) {
  .terminal {
    background-image: none;
    padding-bottom: 60px;
  }
}
@media (max-width: 480px) {
  .terminal {
    padding-bottom: 20px;
  }
}
.terminal_title {
  max-width: 1135px;
  margin-left: auto !important;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
@media (max-width: 960px) {
  .terminal_title {
    border-radius: 0;
    text-align: center;
  }
}
.terminal-swiper {
  margin: 0;
}
.terminal_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
@media screen and (max-width: 840px) {
  .terminal_box {
    display: block;
  }
}
@media screen and (max-width: 840px) {
  .terminal_slide-img {
    margin: 0 auto;
    border-radius: 20px;
  }
}
@media (max-width: 480px) {
  .terminal_slide-img {
    border-radius: 0;
  }
}
.terminal_container {
  max-width: 708px;
}
@media screen and (max-width: 840px) {
  .terminal_container {
    margin-bottom: 30px;
  }
}
.terminal-swiper {
  flex-shrink: 0.3;
}
@media (max-width: 960px) {
  .terminal-swiper {
    flex-shrink: 1;
  }
}
.terminal_desc {
  width: 808px;
}
@media screen and (max-width: 840px) {
  .terminal_desc {
    width: auto;
  }
}
.terminal_text {
  margin: 0 0 40px 0;
  max-width: 580px;
}
@media screen and (max-width: 1080px) {
  .terminal_text {
    margin-bottom: 0;
    padding: 0 15px;
  }
}
@media screen and (max-width: 840px) {
  .terminal_text {
    margin: 0 auto;
  }
}
.terminal_address {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
@media screen and (max-width: 1080px) {
  .terminal_address {
    display: none;
  }
}
.terminal_address-title {
  margin: 0 0 15px 0;
  font-size: 36px;
  line-height: 53px;
  color: var(--color-4);
}
@media screen and (max-width: 1080px) {
  .terminal_address-title {
    display: none;
  }
}
.terminal_address-prev {
  margin-right: 20px;
  float: left;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--color-4);
}
@media screen and (max-width: 1080px) {
  .terminal_address-prev {
    display: none;
  }
}
.terminal_address-street {
  margin-bottom: 10px;
}

.swiper-button-next {
  color: var(--color-3);
}

.swiper-button-prev {
  color: var(--color-3);
}